{{extend 'layout.html'}}
<h3>S&eacute;lectionnez le menu "ACTUALISATION DES INVENTAIRES" pour commencer</h3>
<p><strong>Les op&eacute;rations normales sont 1,2,3. Pour faire un retour en arri&egrave;re c'est le fonction 5. Le fonction 7 est con&ccedil;u pour un pilote du module. </strong></p>
<ol>
<li style="text-align: left;"><strong>PR&Eacute;PARATION LA LISTE DES CIS</strong></li>
<li style="text-align: left;"><strong>D&Eacute;SACTIVATION DES CIS</strong></li>
<li style="text-align: left;"><strong>ENTREP&Ocirc;T DES FICHIERS OCTOPUS</strong></li>
<li style="text-align: left;"><strong>HISTORIQUE</strong></li>
<li style="text-align: left;"><strong>R&Eacute;ACTIVATION DES CIS - RETOUR EN ARRI&Egrave;RE</strong></li>
<li style="text-align: left;"><strong>TABLES DE CONFIGURATION</strong></li>
<li style="text-align: left;"><strong>GESTION DES ACC&Egrave;S AU MODULE<br /></strong></li>
</ol>
<div>
    <embed src="{{=URL('static','doc/actualisation_inventaire.pdf')}}" type="application/pdf" width="100%" height="600px" />
</div>