{{extend 'layout.html'}}

<h3>Instructions pour programmer les séquences d'affichage de chaque écran:</h3>
<p></p>
<h4>&nbsp;&nbsp;1. Reprogrammer le script d'affichage: </h4>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Copier l'adresse du lien </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Coller sur Explorateur de fichiers et selectionner \pi\tools </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Modifier le fichier url.py au besoin pour changer les les séquences (Il faut respeter les syntax de base de python)</p>
<p></p>
<h4>&nbsp;&nbsp;2. Redémarer le système: </h4>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Simplement de débrancher et rebrancher ou avec putty </p>
<p></p>

<div>
{{=grid}}
</div>
