{{extend 'layout.html'}}
<h2>Selectionnez le menu Gestion des accès générique</h2>
<br/>
<h3>&nbsp;&nbsp;Accès générique</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sous le menu "Accès générique", sélectionnez le button: +ADD RECORD / EDIT</b></h4>
<br/>
<h3>&nbsp;&nbsp;Mise à jour manuel</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sous le menu "Mise à jour manuel", sélectionnez le button; Il va faire le MAJ des mot de passe et ses statuts manuelement</b></h4>
<br/>
