{{extend 'layout.html'}}
<h2>Pour l'équipe "SSA - Support administratif"</h2>
<br/>
<h3>&nbsp;&nbsp;Étape 1</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Sous le menu "Rétrofacturation du compte bilan", sélectionnez la fonction "Importation".</u></h4>
<br/>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cette fonction construira une liste à partir des CI Octopus ayant l'attribut  "RF - Centre de coûts" documenté et l'attribut "RF - Complétée" vide.</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cette liste sera visible automatiquement dans le vue "Validation".</h4>
<br/>
<h3>&nbsp;&nbsp;Étape 2</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Sous le menu "Consulter la vue "Validation" afin de faire une assurance qualité des équipements identifiés pour la rétrofacturation.</u></h4>
<br/>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Une entrée est adéquate si elle possède un code budgétaire conforme et un coût valide (il ne devrait pas y avoir de coût à 0$).</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pour obtenir la liste des items pour lesquels le code budgétaire est non conforme, cliquer sur le lien "Cliquez ici pour filtrer seulement le code budgétaire non conforme ou le coût vide (0.00 $)".</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Différentes recherches sont possibles en cliquant dans le champ SEARCH et en spécifiant un critère de recherche.</h4>
<br/>
<h3>&nbsp;&nbsp;Étape 3</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Sous le menu "Rétrofacturation du compte bilan", sélectionnez la fonction "Exportation".</u></h4>
<br/>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La vue "Entrepôt de fichiers" sera affichée automatiquement.</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cliquer sur le lien "fichier pour la comptabilité en csv" de la dernière exportation (tri possible sur la colonne date).</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le fichier sera téléchargé localement sur votre poste de travail.</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Envoyer ce fichier par courriel à la direction des ressources financières via l'adresse courriel « 06 CEMTL Comptabilité/Reg06/SSSS ».</h4>
<br/>
<h2>Pour l'équipe "Tech. D.P. - Inventaire"</h2>
<br/>
<h3>&nbsp;&nbsp;Étape 1</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>À venir lorsque la vue pour la réimportation dans Octopus sera complétée</u></h4>
<br/>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...</h4>
