{{extend 'layout.html'}}
<h2>Selectionnez le menu GESTION DE MAPPAGE D'IMPRIMANTES</h2>
<br/>
<h3>&nbsp;&nbsp;Assigner / Désassigner des imprimants aux emplacements ( aussi les imprimants par défaut)</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sous le menu "Assigner / Désassigner des imprimants", sélectionnez le button: +ADD RECORD / EDIT</b></h4>
<br/>
<h3>&nbsp;&nbsp;Assigner / Désassigner des clients légers aux emplacements</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sous le menu "Assigner / Désassigner des clients légers", sélectionnez le button: +ADD RECORD / EDIT</b></h4>
<br/>
<h3>&nbsp;&nbsp;Ajouter / Activer / Désactiver des imprimantes</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sous le menu "Ajouter / Activer /Désactiver des imprimantes", sélectionnez le button: +ADD RECORD / EDIT</b></h4>
<br/>
<h3>&nbsp;&nbsp;Ajouter / Activer / Désactiver des Clients légers</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sous le menu "Ajouter / Activer / Désactiver des Clients légers", sélectionnez le button: +ADD RECORD / EDIT</b></h4>
<br/>
<h3>&nbsp;&nbsp;Ajouter / Activer / Désactiver des emplacements</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sous le menu "Emplacements", sélectionnez le button: +ADD RECORD / EDIT</b></h4>
<br/>
<h3>&nbsp;&nbsp;Vu ensemble des client légers - imprimantes</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sous le menu "Vue client légers - imprimantes", validation visuelle avant l'application</b></h4>
<br/>
<h3>&nbsp;&nbsp;Appliquer les changement au script</h3>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sous le menu "Exporter au script", Cette étape est requise pour enregistrer les modifications</b></h4>
<br/>