{{extend 'layout.html'}}
<h3>S&eacute;lectionnez le menu "GESTION D'IMPRESSION" pour commencer</h3>
<p><strong>La fonction 1 consiste &agrave; ajouter ou &agrave; modifier le lien entre le dossier de partage de PDF et les URL de l&rsquo;imprimante. La fonction 2 est con&ccedil;ue pour un pilote de module.</strong></p>
<ol>
<li style="text-align: left;"><strong>CONFIGURATION</strong></li>
<li style="text-align: left;"><strong>GESTION DES ACC&Egrave;S AU MODULE<br /></strong></li>
</ol>
<p><strong>Le changement de fonction 1 sera valable dans 20 minutes.</strong></p>
<p>&nbsp;</p>
