{{extend 'layout.html'}}

<h3>Guide d'utilisation du module (Pour DRF)</h3>
<p></p>
<h4>&nbsp;&nbsp;1. GESTION DES FACTURES > ENTREPÔT DES FICHIERS </h4>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Consultation: Selectionnez "facture en pdf (1er page)" ou "fichier pour la comptablilité en csv" </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Téléchargement: Button droite > Enregistrer le lien sous ...</p>
<p></p>
<h3>Guide d'utilisation du module (Pour les gestionnaires de CEMTL)</h3>
<p></p>
<h4>&nbsp;&nbsp;1. GESTION DES FACTURES > NAVIGATEUR DE FACTURE</h4>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vérification: Les dépenses en téléphonie de votre département </p>
<p></p>
<h4>&nbsp;&nbsp;2. GESTION DES FACTURES > NAVIGATEUR DE TÉLÉPHONE</h4>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vérification: Les codes bugétaires et téléphones de votre département </p>
<p></p>

<h3>Guide de gestion du module (Pour les les pilotes du module)</h3>
<p></p>
<h4>&nbsp;&nbsp;1. GESTION DES FACTURES > ENTREPÔT DES FICHIERS </h4>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Téléversement le fichier de telus type text et le 1er page de facture en pdf </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Téléversement: ADD RECORD</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ou Modification: EDIT</p>
<p></p>
<h4>&nbsp;&nbsp;2. GESTION DES FACTURES > IMPORTATION</h4>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L'importation des données text vers DB Unificace et sera rediriger automatiquement vers le menu Entrepôt des fichiers</p>
<p></p>
<h4>&nbsp;&nbsp;3. GESTION DES FACTURES > EXPORTATION</h4>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Préparation la facture: "PRÉPARATION LA FACTURE" - Préparation et validation la facture: Selectionnez la facture</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Exportation le csv:  "EXPORTATION LE CSV VERS L'ENTREPÔT DES FICHIERS" - Sera rediriger automatiquement vers le menu Entrepôt des fichiers</p>
<p></p>
<h4>&nbsp;&nbsp;4. Gestion de rétrofacturation > Tables de configuration </h4>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pour la gestion du module</p>



