{{extend 'layout.html'}}
<h3>S&eacute;lectionnez le menu "GESTION DE SERVEUR" pour commencer</h3>
<p><strong>La fonction 1 consiste &agrave; cr&eacute;er ou &agrave; d&eacute;commissionner les serveurs. La fonction 2 est con&ccedil;ue pour un pilote du module.</strong></p>
<ol>
<li style="text-align: left;"><strong>CR&Eacute;ATION DE SERVEUR</strong>
<ol>
<li style="text-align: left;"><strong>Selectioner un type de seveur: SERVEUR VIRTUEL OU PHYSIQUE</strong></li>
<li style="text-align: left;"><strong><strong>Selectioner un OS: WINDOW, LINUX, ou&nbsp; autre</strong></strong></li>
</ol>
</li>
<li style="text-align: left;"><strong>GESTION DES ACC&Egrave;S AU MODULE<br /></strong></li>
</ol>
<p>&nbsp;</p>
