{{extend 'layout.html'}}
<h4>
Ce module utilise des données du module "gestion des inventaires", il peut mettre à jour automatiquement la liste des machines: </br>
    - dans Remote Desktop Manager </br>
    - dans l'annuaire de RDP <a href="file://///cemtl.rtss.qc.ca\cemtl\Ressources\Applications\Public\RDP_Run_with_PowerShell\RDP.lnk"> (Sur IE: cliquez ici, sur Chrome ou FireFox: buton droite et copies l'adresse du lien et coller sur Windows explorer, trouvez votre seveur dans Windows explorer et les executer avec powershell)</a></br>
</br>
Il utilise 3 colonnes de inventaire ("full name", "canonical name" et "in service") pour créer la liste. </br>
Nous pouvons ajouter les equipements comme les switches par example directement dans inventaire. </br>
"canonical name" definit les emplacements, "full name" pour la connexion et "in service" pour ajouter ou enlever. </br>

</h4>

